<form [formGroup]="quote">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input
        matInput
        type="text"
        placeholder="company_name"
        formControlName="company_name"
        id="company_name"
        ng-model="first"
      />
    </mat-form-field>
  </p>
  <!-- <div>
    <input
      type="file"
      id="avatar"
      formControlName="avatar"
      accept="image/png, image/jpeg"
    />
  </div>
  <div>
    <input
      type="text"
      placeholder="company_name"
      formControlName="company_name"
      id="company_name"
      ng-model="first"
    />
    <input
      type="text"
      placeholder="address_line1"
      formControlName="address_line1"
      id="address_line1"
    />
    <input
      type="text"
      placeholder="address_line2"
      formControlName="address_line2"
      id="address_line2"
    />
    <input type="text" placeholder="email" formControlName="email" id="email" />
    <input type="text" placeholder="phone" formControlName="phone" id="phone" />
  </div>
  <div>
    <input
      type="text"
      placeholder="quote_no"
      formControlName="quote_no"
      id="quote_no"
    />
    <input
      type="date"
      placeholder="yyyy-mm-dd"
      formControlName="date"
      id="date"
    />
  </div> -->
  <div>
    <p>subtotal<span>12345</span></p>
    <p>tax1 <span>55</span>%</p>
    <p>tax2<span>55</span>%</p>
  </div>
  <div>
    <p>TOTAL <span>49496</span></p>
  </div>
  <div>
    <div>
      <h6>Bill TO :</h6>
      <h5>{{ quote.value.address_line1 }}</h5>
      <p>{{ quote.value.address_line2 }}</p>
      <p>{{ quote.value.company_name }}</p>
      <p>{{ quote.value.email }}</p>
      <p>{{ quote.value.phone }}</p>
    </div>
    <div>
      <h6>Project Description</h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
        blanditiis suscipit! Molestiae in soluta numquam sit ipsum reprehenderit
        atque doloribus debitis, vitae nostrum quas perferendis quibusdam
        obcaecati dolor, eum cupiditate?
      </p>
    </div>
  </div>
  <p>Powered By Our company name</p>
</form>
