<form action="#">
  <div>
    <input
      type="file"
      id="avatar"
      name="avatar"
      accept="image/png, image/jpeg"
    />
  </div>
  <div>
    <input
      type="text"
      placeholder="company_name"
      name="company_name"
      id="company_name"
    />
    <input
      type="text"
      placeholder="address_line1"
      name="address_line1"
      id="address_line1"
    />
    <input
      type="text"
      placeholder="address_line2"
      name="address_line2"
      id="address_line2"
    />
    <input type="text" placeholder="email" name="email" id="email" />
    <input type="text" placeholder="phone" name="phone" id="phone" />
  </div>
  <div>
    <input type="text" placeholder="quote_no" name="quote_no" id="quote_no" />
    <input type="date" name="date" id="date" />
  </div>
</form>
